<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pizza Tests Main Suite">
    <listeners>
        <listener class-name="listeners.ThreadCountListener"/>
        <listener class-name="listeners.TestRetryListener"/>
    </listeners>

    <test name="Pizza Tests">
        <classes>
            <class name="tests.PizzaPageTests"/>
        </classes>
    </test>
</suite>